
a
{
	color: #61615A;
}

#page
{
	display: grid;
	grid-template-rows: auto 3fr 2fr;
	height: calc(100vh - 44px);
}

#header
{
	display: grid;
	grid-template-columns: 1fr auto;
}

#account
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	place-items: center;
}

#custom_form
{
	background-color: red;
}
