body
{
	font-family: 'Ubuntu', sans-serif;
}

a
{
	color: #61615A;
}

#page
{
	display: grid;
	grid-template-rows: auto 1fr 10fr 1fr;
	height: calc(100vh - 44px);
}

#header
{
	display: grid;
	grid-template-columns: 1fr auto;
}

#account
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	place-items: center;
}

#content
{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-row: 3;
}

#preset_dropdown
{
	height: 30px;
	width: 220px;
}

#dropdown_container
{
	display: grid;
	grid-template-columns: 3fr 5fr;
	align-items: center;
	grid-gap: 20px;
}

#custom_form
{
	grid-column: 2;
	background-color: rgba(0, 0, 0, 0.025);
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-gap: 20px;
	border: 2px solid;
}

#questions
{
	display: grid;
	background-color: rgba(0, 0, 0, 0.05);
	border: 2px solid black;
}

#start
{
	margin-bottom: 8px;
	width: 100px;
	justify-self: center;
}

#add_question
{
	justify-self: center;
	align-self: end;
}

