
body
{
	font-family: 'Ubuntu', sans-serif;
}

a
{
	color: #61615A;
}

#page
{
	display: grid;
	grid-template-rows: auto 1fr 15px 2fr;
	height: calc(100vh - 44px);
	grid-gap: 25px;
}

#header
{
	display: grid;
	grid-template-columns: 1fr auto;
}

.account
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	place-items: center;
}

.auto, .custom
{
	justify-items: center;
	display: grid;
}

.auto
{
	align-self: end;
}

.custom
{
	align-self: start;
}

.game
{
	font-size: 35px;
	align-self: end;
}


