
<!DOCTYPE html>
<html>
	<head>
		<title> Custom </title>
		<link href="static/custom.css" rel="stylesheet">
	</head>
	<body>
		<div style="margin: 20px;" id="page">
			<div id="header">
				<a style="font-size: 30px;" href="/">MathTreadmill</a>
				<div id="account">
					{% if user == "" %}
					<a href="/signin">Sign in</a>
					<a href="/register">Register</a>
					{% else %}
					<a href="/profile">{{ user }}</a>
					<a href="/logout">Log out</a>
					{% endif %}
				</div>
			</div>
			<div id="content">
				<p> I haven't finished /custom yet, so there's nothing here for now </p>
			</div>
		</div>

		<script src="static/custom.js"></script>
	</body>
</html>

