<!DOCTYPE html>
<html>
	<head>
		<title>Custom</title>
		<link rel="stylesheet" href="static/custom.css">
		<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
	</head>
	<body>
		<div id="page" style="margin: 20px;">
			<div id="header">
				<a style="font-size: 30px;" href="/">MathTreadmill</a>
				<div id="account">
					{% if user == "" %}
					<a href="/signin">Sign in</a>
					<a href="/register">Register</a>

					{% else %}
					<a href="/profile">{{ user }}</a>
					<a href="logout">Log out</a>
					{% endif %}
				</div>
			</div>
			<div id="content">
				<form id="custom_form" action="/custom" method="post">
					<div id="dropdown_container">
						<p style="justify-self: end;">Preset</p>
						{% if user == "" %}
						<select name="preset_dropdown" id="preset_dropdown" disabled>
							<option value="">Sign in to save presets!</option>
						</select>

						{% else %}
						<select id="preset_dropdown" name="preset_dropdown">
							<option value="" selected disabled>Select a preset...</option>
							{% for preset in presets %}
							<option value="{{ preset['questions'] }}">{{ preset["preset_name"] }}</option>
							{% endfor %}
							<option id="np" value="New preset">New preset</option>
						</select>
						{% endif %}
					</div>

					<div style="display: grid; grid-template-rows: auto 1fr; justify-items: center;">
						<p style="margin-top: 0; margin-bottom: 20px; font-size: 24px; font-weight: bold;">Questions</p>
						<div id="questions">
							<p style="padding: 10px;" id="no_questions"> You have no questions, so click the + button to add one. </p>
						</div>
					</div>
					<input style="margin-bottom: 10px;" type="button" id="add_question" value="+">
					<div style="display: grid; grid-template-columns: auto 1fr;">
						<div style="display: grid; grid-template-columns: auto auto;">
							<input type="text" id="decrement" placeholder="Dec (secs)">
							<input type="text" id="reset_time" placeholder="Time (secs)">
						</div>
						<div style="justify-self: end; display: grid; grid-template-columns: auto auto;">
							<input type="button" id="start" value="Start">
							<input type="button" id="help" value="?" style='margin: 8px; width: 90px;'>
						</div>
					</div>
					<input type="text" style="display: none;" name="j_questions" id="j_questions">
				</form>
			</div>
		</div>
	</body>
	<script src="static/custom.js"></script>
</html>
